.safari_only {
    height: 44px;
    background: #fff;
    display: none;

}

@supports (overflow:-webkit-marquee) and (justify-content:inherit) {

  .safari_only {
  	display: block;
  	background: #fff;
  	display: none;
  }

}