header { background: #181915; }

section {
height: auto !important;
min-height: 200px !important;
}

h1 a { background-image: url(/img/logo-avatar-ie.png) !important; }
.mcr h1 a { background-image: url(/img/tdc-mcr-avatar-ie.png) !important; }
.arts h1 a { background-image: url(/img/tda-logo-avatar-ie.png) !important; }
.cover h2 em { background-image: url(/img/tdc-logo-ie8.png) !important; }
.arts .cover h2 em { background-image: url(/img/tda-logo-cover-ie.png) !important; }
.mcr .cover h2 em { background-image: url(/img/tdc-mcr-logo-ie.png) !important; }

.avatars h3 { background: #000; }

.home .cover { background: url(/img/thequayside-big.jpg); }
.arts .cover { background: url(/img/arts-big.jpg); }


.logoparty a { background-image: url(/img/partners/thenextweb-ie.png); }
.logoparty .theguardian a { background-image: url(/img/partners/theguardian-ie.png);}
.logoparty .microsoft a {background-image: url(/img/partners/microsoft-ie.png); }
.logoparty .metro a { background-image: url(/img/partners/metro-ie.png);}
.arts .logoparty .arts-council a { background-image: url(/img/partners/arts-council-ie.png);}
.arts .logoparty .university-of-sunderland a { background-image: url(/img/partners/university-of-sunderland-ie.png);}
.arts .logoparty .thinking-digital a { background-image: url(/img/partners/thinking-digital-ie.png);}
.arts .logoparty .culture-lab a { background-image: url(/img/partners/culture-lab-ie.png);}
.arts .logoparty .makerspace a { background-image: url(/img/partners/makerspace-ie.png);}
.arts .logoparty .attaya a { background-image: url(/img/partners/attaya-ie.png);}
.arts .logoparty .tyne-and-wear-museum a { background-image: url(/img/partners/tyne-and-wear-museum-ie.png);}
.arts .logoparty .sage-gateshead a { background-image: url(/img/partners/sage-gateshead-ie.png);}
.arts .logoparty .gateshead-council a { background-image: url(/img/partners/gateshead-council-ie.png);}
.arts .logoparty .newbridge-project a { background-image: url(/img/partners/newbridge-project-ie.png);}
.arts .logoparty .nomadic-salon a { background-image: url(/img/partners/nomadic-salon-ie.png);}
.arts .logoparty .crumb a { background-image: url(/img/partners/crumb-ie.png);}
.arts .logoparty .nicap a { background-image: url(/img/partners/nicap-ie.png);}
.arts .logoparty .wunderbar a { background-image: url(/img/partners/wunderbar-ie.png);}
