
#dp_swf_engine { display: none; }

@import "layout/reset.scss"; 

@import "layout/mixins.scss"; 
@import "layout/limiters.scss";
@import "layout/cols.scss"; 
@import "layout/lists.scss";

@import "decoration/color.scss";
@import "decoration/icons.scss";
@import "decoration/animation.scss";
@import "decoration/alerts.scss";
@import "decoration/webfonts.scss";
 
@import "modules/nav.scss"; 
@import "modules/footer.scss";
@import "modules/social.scss";
 
/* developement to toggle overlays */

/*.social-men-or-women, 
.toggle-gender,
#below-the-footer-fold, 
.men-or-women,
.secondary-nav,
.main {
  display: block !important;
}
  */

@media screen and (max-width: 500px) {

	.hide-on-small {
		display: none !important;
	}

}


@media screen and (min-width: 500px) {

	.hide-on-big {
		display: none !important;
	}

}


/* BY TORUNN SEIM SKROGSTAD
-------------------------------------*/


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body { 
	color: $sf-brown;
	font-family: 'Grad';
	background: lighten(#eeecea, 5%);
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.page {
	padding-top: 50px;
	margin:  0 auto;
	max-width: 800px;
	display: block;

	@media screen and (min-width: 900px) {
		padding-top: 100px;
	}

	&.gateway {
		padding-top: 0;
		max-width: 100%;
	}

	.marketing-page & {
		padding-top: 50px;
		max-width: 100%;
	}
}

a { 
	color: $sf-link; 
	text-decoration: none; 

	.mens & {
		color: $sf-link-mens;
	}
}

img { max-width: 100%; }

.btn {
	border: 1px solid $sf-pink;
	text-decoration: none;
  line-height: 1rem;
  padding: 0.6em 0.8em;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'BrandonGrotesque-Medium'; 
  color: $sf-pink;

}

.btn--cta {
  border: 1px solid $sf-pink;
  color: #fff;
  background: $sf-pink;
  &:Hover {
    background: darken($sf-pink, 5%);
    color: #fff;
  }

  .mens & { 
  	background: $sf-mens; 
  	border-color: $sf-mens; 
  	color: #fff;
  }
}

.btn--cta-secondary {
  	border-color: $sf-brown;
  	color: $sf-brown;

  	&:hover { 
  		color: darken($sf-brown, 20%); 
  		border-color: darken($sf-brown, 20%); 
  	}

  	.mens & {
  		color: $sf-brown;
  	}

}

.splash {
	position: relative;
	width: 100%;
	display: block;
	img { display: block; }

	.login {
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 0.8rem;
		background: rgba(255,255,255,0.9);
	}

	.logo {
		max-width: 230px;
		margin: 0 auto 1rem;
	}

	.pick-a-gender {
		padding: 35px;
		text-align: center;
		background: #fff;
		padding-left: calc(50% - 300px/2);
		padding-right: calc(50% - 300px/2);

		h5 {
			font-family: 'BrandonGrotesque-Bold'; 
		  letter-spacing: 0.05rem;
		  text-transform: uppercase;
		}

		.flr-wrap {
			text-align: center;
		}

		.btn { 
			width: 42%; 
			padding: 1rem;
			font-size: 1.2rem;
			background: $sf-pink;
			border-color: $sf-pink;
		}
	}

	@media screen and (min-width: 800px) {

		.pick-a-gender {
			position: absolute;
			top: 30%;
			right: 30px;
			padding: 50px 20px;
			max-width: 370px;
		}

	}
}

.how-it-works { 

	text-align: center;
	background: $sf-grey;

}

.section-title {
	background: $sf-dark-grey;
	color: #fff;
	position: relative;
	padding: 5% 0;
	font-family: 'Grad-Bold';
	@media screen and (min-width: 800px) { padding: 30px 0; }
	&:after {
		content: "";
		width: 20px;
		height: 20px;
		background:  $sf-dark-grey;
		display: block; 
		position: absolute;
		bottom: -10px;
		left: calc(50% - 10px);
		transform: rotate(45deg);

		@media screen and (min-width: 800px) {
			width: 30px;
			height: 30px;
			bottom: -15px;
			left: calc(50% - 15px);
		}
	}
}

.how-it-works__steps {
	padding: 30px 10px;
	margin: 0 auto;
	max-width: 1000px;

	@media screen and (min-width: 800px) {
		padding: 3%;
	}
}

.how-it-works__step {

	max-width: 300px;
	margin: 0 auto;

	@media screen and (min-width: 800px) {
		width: 33.3%;
		float: left;
		padding: 3%;
	}

}

.how-it-works__step__number {
	border: 1px solid $sf-dark-grey;
	display: block;
	width: 40px;
	margin: 0 auto 1rem;
	line-height: 40px;
	border-radius: 50%;
}

.how-it-works__step__title {
		font-family: 'BrandonGrotesque-Bold';
		text-transform: uppercase;
		font-size: 1.1rem;
		margin-bottom: 1rem;

}

form#new_user, .refer-form {
	max-width: 450px;
	margin: 0 auto;
	padding: 30px 15px;

	h2 {
		font-family: 'Grad-Bold';
	}

	.pick-a-gender {

		.flr-wrap {
			text-align: center;
			max-width: 200px;
    	margin: 0 auto;

			.btn {
				width: 50%;
		    display: block;
		    float: left;
				border-color: #ccc;
				color: #666;
			}
		}

		.btn-group {

			.btn {
				border-color: #ccc;
				color: #666;
			}

		}

		.btn.active {
			background: $sf-mint;
			border-color: $sf-mint;
			color: #fff;
		}
	}
}

.refer-form {
	text-align: center;
}

.form-group { 
	padding: 5px 0; 

	.form-control {
		display: block;
    width: calc(100% - 10px);
    padding: 5px;
    &[type="radio"] {
    	display: none;
    }
	}
}

.promo {
	background: $sf-mens !important;
	padding: 20px 0 !important;
	a { color: lighten($sf-mint, 10%); }
}

.wireframe {
	background: #ddd;
	padding: 100px 0;
	margin: 20px auto;
	text-align: center;/*
	max-width: 1000px;*/
}