
#dp_swf_engine { display: none; }

@import "layout/reset.scss"; 

@import "layout/mixins.scss"; 
@import "layout/limiters.scss";
@import "layout/cols.scss"; 
@import "layout/lists.scss";

@import "decoration/color.scss";
@import "decoration/icons.scss";
@import "decoration/animation.scss";
@import "decoration/alerts.scss";
 
@import "modules/nav.scss"; 
@import "modules/footer.scss";
@import "modules/social.scss";
 


/* BY TORUNN SEIM SKROGSTAD
-------------------------------------*/


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body { 
	background: #f7f7f7; 
	color: $sf-neutral;
	font-family: arial, sans-serif;
}

.page {
	padding-top: 100px;
	margin:  0 auto;
	max-width: 800px;

	&.gateway {
		padding-top: 0;
	}

	.marketing-page & {
		padding-top: 50px;
	}
}

a { color: $sf-link; text-decoration: none; }

img { max-width: 100%; }

.btn {
	border: 1px solid $sf-pink;
	text-decoration: none;
  line-height: 1rem;
  padding: 0.6em 0.8em;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.8px !important;
  color: $sf-pink;
  min-width: inherit !important;

}

.btn--cta {
  border: 1px solid $sf-pink;
  color: #fff;
  background: $sf-pink;
  &:Hover {
    background: darken($sf-pink, 5%);
    color: #fff;
  }

  .mens & { 
  	background: $sf-mens; 
  	border-color: $sf-mens; 
  }
/*  .womens & { 
  	background: $sf-pink; 
  }
  .neutral & { 
  	background: $sf-neutral; 
  	border-color: $sf-neutral; 
	  &:Hover {
	    background: darken($sf-neutral, 5%);
	    border-color: darken($sf-neutral, 5%);
	  }
  }*/

  &.login {
  }

}

.btn--cta-secondary {
  	right: 210px;
  	background: none;
  	border-color: $sf-neutral;
  	color: $sf-neutral;

  	&:hover { 
  		color: darken($sf-neutral, 20%); 
  		border-color: darken($sf-neutral, 20%); 
  	}


/*  .mens & { background: $sf-mens; color: #fff; }
  .womens & { background: $sf-pink; color: #fff; }
  .neutral & { background: $sf-neutral; color: #fff; }*/

}

.splash {
	position: relative;
	padding-top: 30px;
	background: #fdfcfa;

	img { display: block; }

	.login {
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 0.8rem;
	}

	.pick-a-gender {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 5px;
		text-align: center;

		.flr-wrap {
			text-align: center;
		}

		.btn { 
			width: 42%; 
			max-width: 200px;
			padding: 1rem;
			font-size: 1.2rem;
			background: $sf-pink;
			border-color: $sf-pink;
		}
	}
}

.how-it-works { 

	background: #fff;
	padding: 50px 15px;

	.step { 
		background: none; 
		padding: 15px;
		height: auto;
		border-bottom: 1px solid #eee; 
		&:nth-child(2) { border-top: 1px solid #eee;  }
	}
}


form#new_user, .refer-form {
	background: #f7f7f7; 
	max-width: 450px;
	margin: 0 auto;
	padding: 30px 15px;

	.pick-a-gender {

		.flr-wrap {
			text-align: center;
			max-width: 200px;
    	margin: 0 auto;

			.btn {
				width: 50%;
		    display: block;
		    float: left;
				border-color: #ccc;
				color: #666;
			}
		}

		.btn-group {

			.btn {
				border-color: #ccc;
				color: #666;
			}

		}

		.btn.active {
			background: $sf-mint;
			border-color: $sf-mint;
			color: #fff;
		}
	}
}

.form-group { 
	padding: 5px 0; 

	.form-control {
		display: block;
    width: calc(100% - 10px);
    padding: 5px;
    &[type="radio"] {
    	display: none;
    }
	}
}

.promo {
	background: $sf-mens !important;
	padding: 20px 0 !important;
	a { color: lighten($sf-mint, 10%); }
}