
@media only screen and (min-width: 500px ) {

  .attendees-titles,
  .company-names,
  #packages {

    @include clear;

    li {
      float: left;
      width: 50%;
      padding: 0 2%;
    }

  }

}


@media only screen and (min-width: 500px ) { 

  .attendees-titles,
  .company-names,
  #packages {

    li { width: 33%; 
      &:nth-child(3n+1) { 
        clear: both;
      } 
    }

  }

}