

@mixin corners($rounded: 5px) {

  -webkit-border-radius: $rounded;
  -moz-border-radius: $rounded;
  -o-border-radius: $rounded;
  border-radius: $rounded;
}

@mixin clear {
  &:before { content: ""; display: table; }
  &:after { content: ""; display: table; clear: both; }
  zoom: 1;
} 
