@-webkit-keyframes heroAnim {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@-webkit-keyframes helloAnim {
	0% { top: -40px; opacity: 0; }
	100% { top: 0px; opacity: 1; }
}

.header-image,
.cover {
	.overlay {
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		background: #000;
		-webkit-animation: heroAnim 0.5s ease both;
		-webkit-animation-delay: 1.5s;
		-moz-animation: heroAnim 0.5s ease both;
		-moz-animation-delay: 1.5s;
	}
}

@-webkit-keyframes speakerAnim {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.avatar img {
	-webkit-animation: speakerAnim 0.5s ease both;
	-webkit-animation-delay: 1.5s;
	-moz-animation: speakerAnim 0.5s ease both;
	-moz-animation-delay: 1.5s;
}

.cover__introduction {
	-webkit-animation: helloAnim 0.5s ease both;
	-webkit-animation-delay: 0.5s;
	-moz-animation: helloAnim 0.5s ease both;
	-moz-animation-delay: 0.5s;
	z-index: 2;
	position: relative;

}

