
$sf-grey: #eeecea;
$sf-dark-grey: #96908c;

$sf-brown: #584a49;

$sf-mint: #00ada5;
$sf-pink: #ff5c61; 


$sf-orange: #d87e54; 
$sf-neutral: #584a49;
$sf-link: $sf-mint;
$sf-forest: #1C453B;

$sf-mens: $sf-orange;
$sf-link-mens: #cb460f;

