/* Neutrals */
$brand_grey_light: #F2F1EF;
$brand_grey: #96908c;
$brand_grey_dark: #2F3237;

/* Gender neutral */
$brand_mint_dark: #00a19a;
$brand_watermelon: #f05d61; 

/* Womens */
$brand_mint: #00bdb4;

/* Mens */
$brand_butternut: #D77F59;
$brand_copper: #97694B; 
$brand_hunter_green: #1C453B;
$brand_charcoal: #25282d;

/* UI */
$ui_blue: #0085c4;
$ui_turquoise: #1695a3;
$ui_turquoise_dark: #0c828f;

/* Usage */
$sf_text: $brand_grey_dark;
$sf_hover: $brand_grey_light;
$sf_link: $ui_blue;
$sf_selected: $ui_turquoise;
$sf_selected_text: $ui_turquoise_dark;
$sf-border: #c0BDBA; /* should be 60% of $brand_grey  - perhaps we can calculate this is Sass */
