
$sf-grey: #eeecea;
$sf-dark-grey: #96908c;

$sf-brown: #584a49;

$sf-mint: #00ada5;
$sf-pink: #ff5c61; 


$sf-copper: #d87e54; 
$sf-link: #0ea1c9;
$sf-forest: #1C453B;

$sf-mens: $sf-copper;
$sf-link-mens: #cb460f;

/* interaction design blue
color: #009cde;
*/