
// MyFonts Brandon
@import url("//hello.myfonts.net/count/2b26e2");

  
@font-face {
  font-family: 'BrandonText-Italic';
  src: url('../webfonts/brandon/Text-Italic/2B26E2_0_0.eot');
  src: url('../webfonts/brandon/Text-Italic/2B26E2_0_0.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/brandon/Text-Italic/2B26E2_0_0.woff') format('woff'),
       url('../webfonts/brandon/Text-Italic/2B26E2_0_0.ttf') format('truetype'),
       url('../webfonts/brandon/Text-Italic/2B26E2_0_0.svg#wf') format('svg');
}

@font-face {
  font-family: 'BrandonText-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('../webfonts/brandon/Text-Regular/2B26E2_1_0.eot');
  src: url('../webfonts/brandon/Text-Regular/2B26E2_1_0.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/brandon/Text-Regular/2B26E2_1_0.woff') format('woff'),
       url('../webfonts/brandon/Text-Regular/2B26E2_1_0.ttf') format('truetype'),
       url('../webfonts/brandon/Text-Regular/2B26E2_1_0.svg#wf') format('svg');
}

 
@font-face {
  font-family: 'BrandonText-Bold'; 
  font-weight: bold;
  font-style: normal;
  src: url('../webfonts/brandon/Text-Bold/2B26E2_2_0.eot');
  src: url('../webfonts/brandon/Text-Bold/2B26E2_2_0.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/brandon/Text-Bold/2B26E2_2_0.woff') format('woff'),
       url('../webfonts/brandon/Text-Bold/2B26E2_2_0.ttf') format('truetype'),
       url('../webfonts/brandon/Text-Bold/2B26E2_2_0.svg#wf') format('svg');
}


@font-face {
  font-family: 'BrandonGrotesque-Light';
  src: url('../webfonts/brandon/Grotesque-Light/2B26E2_5_0.eot');
  src: url('../webfonts/brandon/Grotesque-Light/2B26E2_5_0.eot?#iefix') format('embedded-opentype'), 
       url('../webfonts/brandon/Grotesque-Light/2B26E2_5_0.woff') format('woff'),
       url('../webfonts/brandon/Grotesque-Light/2B26E2_5_0.ttf') format('truetype'),
       url('../webfonts/brandon/Grotesque-Light/2B26E2_5_0.svg#wf') format('svg'); 
}


 
@font-face {
  font-family: 'BrandonGrotesque-Medium';
    src: url('../webfonts/brandon/Grotesque-Medium/2B26E2_3_0.eot');
    src: url('../webfonts/brandon/Grotesque-Medium/2B26E2_3_0.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/brandon/Grotesque-Medium/2B26E2_3_0.woff') format('woff'),
         url('../webfonts/brandon/Grotesque-Medium/2B26E2_3_0.ttf') format('truetype'),
         url('../webfonts/brandon/Grotesque-Medium/2B26E2_3_0.svg#wf') format('svg');
}

 
@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('../webfonts/brandon/Grotesque-Regular/2B26E2_4_0.eot');
  src: url('../webfonts/brandon/Grotesque-Regular/2B26E2_4_0.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/brandon/Grotesque-Regular/2B26E2_4_0.woff') format('woff'),
       url('../webfonts/brandon/Grotesque-Regular/2B26E2_4_0.ttf') format('truetype'),
       url('../webfonts/brandon/Grotesque-Regular/2B26E2_4_0.svg#wf') format('svg');
}

 
@font-face {
  font-family: 'BrandonGrotesque-Bold'; 
  src: url('../webfonts/brandon/Grotesque-Bold/2B26E2_6_0.eot');
  src: url('../webfonts/brandon/Grotesque-Bold/2B26E2_6_0.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/brandon/Grotesque-Bold/2B26E2_6_0.woff') format('woff'),
       url('../webfonts/brandon/Grotesque-Bold/2B26E2_6_0.ttf') format('truetype'),
       url('../webfonts/brandon/Grotesque-Bold/2B26E2_6_0.svg#wf') format('svg');
}

//MyFonts Grad
@import url("//hello.myfonts.net/count/2ff577");

@font-face {
  font-family: 'Grad-Bold';
  font-weight: bold;
  font-style: normal;
  src: url('../webfonts/grad/Grad-Bold/2FF577_0_0.eot');
  src: url('../webfonts/grad/Grad-Bold/2FF577_0_0.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/grad/Grad-Bold/2FF577_0_0.woff2') format('woff2'),
       url('../webfonts/grad/Grad-Bold/2FF577_0_0.woff') format('woff'),
       url('../webfonts/grad/Grad-Bold/2FF577_0_0.ttf') format('truetype'),
       url('../webfonts/grad/Grad-Bold/2FF577_0_0.svg#wf') format('svg');
}
 
  
@font-face {
  font-family: 'Grad';
  font-weight: normal;
  font-style: normal;
  src: url('../webfonts/grad/Grad/2FF577_1_0.eot');
  src: url('../webfonts/grad/Grad/2FF577_1_0.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/grad/Grad/2FF577_1_0.woff2') format('woff2'),
       url('../webfonts/grad/Grad/2FF577_1_0.woff') format('woff'),
       url('../webfonts/grad/Grad/2FF577_1_0.ttf') format('truetype'),
       url('../webfonts/grad/Grad/2FF577_1_0.svg#wf') format('svg');
}
 
  
@font-face {
    font-family: 'Grad-Italic';
    src: url('../webfonts/grad/Grad-Italic/2FF577_2_0.eot');
    src: url('../webfonts/grad/Grad-Italic/2FF577_2_0.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/grad/Grad-Italic/2FF577_2_0.woff2') format('woff2'),
         url('../webfonts/grad/Grad-Italic/2FF577_2_0.woff') format('woff'),
         url('../webfonts/grad/Grad-Italic/2FF577_2_0.ttf') format('truetype'),
         url('../webfonts/grad/Grad-Italic/2FF577_2_0.svg#wf') format('svg');
}
 