---
body_class: home
status: logged-out
title: Stitch Fix
skin: neutral
---

{% include html.html %}

<html>

<head>

  <title>{{ page.title }}</title> 

  <meta name="description" content="">
  <meta name="author" content="">
  <meta charset="utf-8">
  
  {% include includes.html %}

</head>


<body class="{{ page.body_class }} neutral">

<div class="page gateway">

<div class="splash">

<a href="/login" class="btn btn--cta-secondary login">Sign in</a>

  <img data-src="img/gateway.jpg" alt="Man and Woman" />


<div class="pick-a-gender">
  <img src="/img/stitchfix.svg" alt="logo" class="logo"/>
  <h5>Always my style</h4>
  	<p>Pa nonsequi repro cupta non recat aliquo tem quam consequis mosa desed que periorro tem sum et officimus.</p>
  <a href="womens" class="btn btn--cta">Womens</a>
  <a href="mens" class="btn btn--cta">Mens</a>
</div>

</div>

<div class="how-it-works">

	<h2 class="section-title">How It Works</h2>



		<ul class="unstyled how-it-works__steps">

			<li class="how-it-works__step">

				<span class="how-it-works__step__number">1</span>

				<h3 class="how-it-works__step__title">your style profile</h3>

				<p>Fill out an online style profile to tell
				us about your style preferences, size,
				budget, and what occasions you
				tend to dress for.</p>

			</li>
			<li class="how-it-works__step">

				<span class="how-it-works__step__number">2</span>

				<h3 class="how-it-works__step__title">hand-picked items</h3>

				<p>Our personal stylists pick five clothing
				or accessory items based on your unique
				preferences and provide styling tips
				for each piece.</p>

			</li>
			<li class="how-it-works__step">

				<span class="how-it-works__step__number">3</span>

				<h3 class="how-it-works__step__title">free, easy returns</h3>

				<p>Keep and pay for only what you like.
				Send back everything else in a
				prepaid envelope.</p>

		</li>

	</ul>

</div>


{% include get-started.html %}


{% include footer.html %}

