---
body_class: home
status: logged-out
title: Prototype
skin: neutral
---

{% include html.html %}

<html>

<head>

  <title>{{ page.title }}</title> 

  <meta name="description" content="">
  <meta name="author" content="">
  <meta charset="utf-8">
  
  {% include includes.html %}

</head>


<body class="{{ page.body_class }} neutral">

<div class="page gateway">

<div class="splash">
<a href="/login" class="btn btn--cta-secondary login">Sign in</a>
<img src="img/gateway.jpg" alt="" />

<div class="pick-a-gender">
  <h4>Get started with Stitch Fix</h4>
  <a href="womens" class="btn btn--cta-secondary">Womens</a>
  <a href="mens" class="btn btn--cta-secondary">Mens</a>
</div>

</div>

<div class="how-it-works">

	<center>



<br /><br /><br />
<h2>This is what we're about</h2>
<p>Placeholder for value proposition</p>
<br /><br /><br />
</center>
</div>


{% include get-started.html %}


{% include footer.html %}

