---
body_class: login neutral
title: Login
status: logged-out
skin: neutral
active: login
---

{% include header.html %}

<div class="page">


<form class="sign-in-form" id="new_user">
 
        <div class="form__header">
          <h2 class="content-headline">Sign In</h2>

        </div>

        <fieldset>
        <div class="row">
          <div class="form-group">
            <label class="control-label" for="user_login">Email</label>
            <input autofocus="autofocus" id="user_login" class="form-control input-lg" type="email" value="torunn@stitchfix.com" />
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label class="control-label" for="user_password">Password</label>
            <input maxlength="75" class="form-control input-lg" id="user_password" size="75" type="password" value="**********" />

     
          </div>
        </div>

       </fieldset>

         <span class="help-block">Forgot your password?<a title="Forgot your password?"> Reset it now
</a>            </span>
      <div class="form__cta">
        <div class="">
          <a href="/logged-in" type="submit" name="commit" value="Sign In" class="btn btn--cta ">Sign in</a>
        </div>
      </div>
</form>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

</div>

{% include footer.html %}

