---
body_class: womens
status: logged-in
title: Prototype
active: 
---

{% include header.html %}

<div class="page">

<img src="/img/womens-loggedin.jpg" />

<center>targetted marketing messages to a logged in customer <center>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>

<div id="get-started-form">

	<h2 style="text-align: center;">Refer a friend to Stitch Fix</h2>
	

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>


{% include footer.html %}

