</div>

<footer>

	<a href="#" class="footer-toggle">

		<i aria-hidden="true" class="icon bee" data-icon="e602"></i>

		<p>The most important footer content live here, but there's more if you click, so we need to design it in a way that's clickable</p>

	</a>

	<div class="below-the-footer-fold">

		Less important footer links live here <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />Probably quite a long list -- a structured one!

	</div>


</footer>

</body>


</html>
