</div>

<footer>


		<i aria-hidden="true" class="icon bee" data-icon="e602"></i>

		<p>Want Style tips?</p>
		<a href="#">Read our blog</a>
		<p>Have a question?</p>
		<a href="#">Visit our FAQ</a>
<p>
	<a href="#" class="footer-toggle">

more
	</a>
</p>
	<div class="below-the-footer-fold">

		<p>About</p>
		<p>Style Tips</p>
		<p>Gift Cards</p>
		<p>iPhone App</p>
		<p>Men</p>
		<p>Plus Sizes<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />Less important footer links live here<br />Probably quite a long list -- a structured one!

	</div>


</footer>

</body>


</html>
