</div>

<footer>


	
		<a href="#" class="footer-toggle">

			<i aria-hidden="true" class="icon bee" data-icon="e602"></i>
		
		</a>


	
	<div id="below-the-footer-fold" class="below-the-footer-fold">

		
	<div class="above-the-footer-fold">

		<div class="style-tips">

			<h5>Want Style tips?</h5>
			<p><a href="#">Read our blog</a></p>

			<ul class="social unstyled">
				<li><a class="icon facebook"><span>Facebook</span></a></li>
				<li><a class="icon twitter"><span>Twitter</span></a></li>
				<li><a class="icon instagram"><span>Instagram</span></a></li>
				<li><a class="icon pinterest"><span>Pinterest</span></a></li>
			</ul>

		</div>

		<div class="questions">

			<h5>Have a question?</h5>

			<ul class="unstyled">
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Help Center</a></li>
			</ul>

		</div>
	
	</div>

		<ul class="unstyled">
			<li><a href="#">About</a></li>
			<li><a href="#">Gift Cards</a></li>
			<li><a href="#">iPhone App</a></li>
			<li><a href="#">Men</a></li>
			<li><a href="#">Plus Sizes</a></li>
			<li><a href="#">Press</a></li>
			<li><a href="#">Affiliate Program</a></li>
			<li><a href="#">Careers</a></li>
			<li><a href="#">Tech Blog</a></li>
			<li><a href="#">Terms of Use</a></li>
			<li><a href="#">Privacy Policy</a></li>
		</ul>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />Less important footer links live here<br />Probably quite a long list -- a structured one!<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />Hi. What's up?

	</div>


</footer>

</body>


</html>
