{% include html.html %}

<html>

<head>

	<title>{{ page.title }}</title>	

  <meta name="description" content="">
  <meta name="author" content="">
  <meta charset="utf-8">
  
  {% include includes.html %}

</head>


<body class="{{ page.body_class }}">

{% if page.body_class == "womens" and page.status == "logged-in" %}
<div class="bootstrap alert-outer-container">
  <div id="alerts">
    <!-- <div class="alert alert-info alert-dismissable promo">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">        
            <div class="alert-msg"><a href="mens">We just launched Stitch Fix Men!  </a>

            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
{% endif %}

<header> 
    
    {% include nav.html %}
  
</header>


