
<div class="how-it-works" id="how-it-works">

	<h2 class="section-title">How It Works</h2>



		<ul class="unstyled how-it-works__steps">

			<li class="how-it-works__step">

				<span class="how-it-works__step__number">1</span>

				<h3 class="how-it-works__step__title">Fill Out A Style Profile</h3>

				<p>Share your style, size and price preferences with your personal stylist.</p>

			</li>
			<li class="how-it-works__step">

				<span class="how-it-works__step__number">2</span>

				<h3 class="how-it-works__step__title">Receive Your Fix Delivery</h3>

				<p>Get 5 hand-selected pieces of clothing delivered to your door—no subscription required.</p>

			</li>
			<li class="how-it-works__step">

				<span class="how-it-works__step__number">3</span>

				<h3 class="how-it-works__step__title">Keep What You Want</h3>

				<p>Only pay for what you keep. Returns are easy (and free) with a prepaid envelope.</p>

		</li>

	</ul>

</div>