{% if page.status == "logged-in" %}
<a href="/logged-in" class="link--avatar"><img src="/img/avatar.svg" alt="avatar" class="nav__avatar" /></a>
{% else %}
<div class="gender-toggle">
<a href="/" class="link--avatar"><img src="/img/avatar.svg" alt="avatar" class="nav__avatar" /></a>
  <div class="toggle-gender">
      <a {% if page.active == "mens" %}class="active"{% endif %} href="/mens">Mens</a>
      <a {% if page.active == "womens" %}class="active"{% endif %} href="/womens">Womens</a> 
  </div>
</div>

{% endif %}


  <a href="#" id="toggle"><i aria-hidden="true" class="icon" data-icon="e609"></i><span>Menu</span></a>
  <a href="#" id="secondary-toggle"><i aria-hidden="true" class="icon" data-icon="e609"></i><span>Menu</span></a>

{% if page.status == "logged-in" %}  
  {% if page.body_class == "mens" %} 
    <a href="#get-started" class="btn btn--cta" id="get-started">Refer</a>
  {% endif %}  
{% else %}

  {% if page.skin == "neutral" %}
  <a href="/#get-started" class="btn btn--cta" id="get-started">Get started</a>
  {% else %}
  <a href="/" class="btn btn--cta" id="get-started">Get started</a>
  {% endif %}
  {% unless page.active == "login" %}
    <a href="/login" class="btn btn--cta-secondary">Sign in</a>
  {% endunless %}

{% endif %}

  <!-- <a href="#" id="toggle-secondary"><i aria-hidden="true" class="icon" data-icon="e609"></i><span>Menu</span></a> -->

    <nav class="main">
      
        <ul>


              {% if page.status == "logged-in" %}
                <li><a href="/logged-in"{% if page.active == "my-fix" %}class="active"{% endif %}>My fix</a></li>
                <li><a href="/logged-in">Style profile</a></li>
                <li><a href="#">Referrals</a></li>
                <li class="hide-on-small show-on-big"><a href="#">Account</a></li>
              {% endif %}

              <li>

                <ul class="secondary-nav">

                  {% if page.status == "logged-in" %}
                    <li class="show-on-small hide-on-big"><a href="#">Account</a></li>
                  {% endif %}


                  {% if page.status == "logged-in" %}
                    <li {% if page.active == "faq" %}class="active"{% endif %}><a href="/logged-in/faq">FAQ</a></li>
                  {% else %}
                    <li {% if page.active == "faq" %}class="active"{% endif %}><a href="/faq">FAQ</a></li>
                  {% endif %}

                  {% if page.skin == "womens" %}
                    <li><a href="http://blog.stitchfix.com">Style Tips</a></li>
                  {% elsif page.skin == "mens" %}
                    <li><a href="http://blog.stitchfix.com/mens">Style Tips</a></li>
                  {% else %}
                    <li class="nav__style-tips"><a href="#" class="style-tips-toggle">Style Tips</a>
                   
                        <ul class="men-or-women unstyled">
                          <li><a href="http://blog.stitchfix.com">Women</a></li>
                          <li><a href="http://blog.stitchfix.com/mens">Men</a></li>
                        </ul>
                      
                    </li>
                  {% endif %}



                  {% if page.active == "womens" or page.status == "logged-in" %}
                    <li><a href="#">Reviews</a></li>
                  {% endif %}
                  <li><a href="#">Gift cards</a></li>


                  <!-- {% if page.status == "logged-out" %}
                    
                      <li {% if page.active == "mens" %}class="active"{% endif %}><a href="/mens">Men</a></li>
                      <li {% if page.active == "womens" %}class="active"{% endif %}><a href="/womens">Women</a></li>            

                  {% else %} -->

                     <li><a href="/logged-in/mens">Mens</a></li>
               
                  {% endif %}

                
                  {% if page.status == "logged-in" %}

                    <li><a href="/">Sign out</a></li>

                  {% endif %}

              </li>

              </ul>

              

<!--
            {% if page.active == "element" %}
                <li class="active"><a href="/page/">Element</a></li>
            {% else %}
                <li><a href="/schedule/">Element</a></li>
            {% endif %}

     -->       
    
        </ul>

    </nav>