---
body_class: 
status: logged-in
title: My Fix
skin: womens
active: my-fix
---

{% include header.html %}

<div class="page">

<div class="side-margins" style="width: 100%; position: relative; display: block;">
  <div class="cta-primary">
    <section class="stateful-message">
      <p class="page-subheading">
        Extend
      </p>
    </section>
    <div class="action-primary">
      <p class="content-headline"><span class="ss-standard ss-cart"></span> Please do something</p>
      <p class="instructional-note"> some prompt</p>
      <a href="../checkout/" class="btn btn-lg btn-primary btn-block-dynamic">Big action </a>

      <form id="return-extension" action="">

        <div id="return-extension-reason">
          <p class="instructional-note"> Why do you need this?</p>
          <input type="radio" name="reason" value="vacation"> I'm going on vacation<br>
          <input type="radio" name="reason" value="paycheck"> I'm waiting for my next paycheck<br>
          <input type="radio" name="reason" value="indecisive"> I'm trying to decide what to keep<br>
          <input type="radio" name="reason" value="other"> Other<br>
        </div>


        <div id="return-extension-duration">
          <p>
            <a href="/extend_confirmation" class="btn btn-lg btn-primary btn-block-dynamic">Extend to Tuesday, July 19th</a>
            <span class="visible-xs-inline"><br></span><a href="#">Need more time? &nbsp;»</a>
          </p>
        </div>
      </form>


      <p class="action-primary-alternate">
        Something? <span class="visible-xs-inline"><br></span><a href="#">Do it&nbsp;»</a>
      </p>
    </div>

    <div class="actions-secondary">
      <p> You might want to </p>
      <ul>
        <li>
          <a href="#">
            Sign up for automatic Fixes&nbsp;»
          </a>
        </li>
        <li>
          <a href="#">
            Change your credit card info&nbsp;»
          </a>
        </li>
        <li id="gift-redeem">
          <a href="#">Redeem a gift code &nbsp;»
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>


{% include footer.html %}

