---
body_class:
status: logged-in
title: My Fix
skin: womens
active: my-fix
---

{% include header.html %}

<div class="page">

<div class="side-margins" style="width: 100%; position: relative; display: block;">
  <div class="cta-primary">
    <section class="stateful-message">
      <p class="page-subheading">
        Need to extend your return date?
      </p>
      <p>
        Thanks for letting us know that you are needing a couple of extra days to checkout and send back your returns. We know things come up from time to time and are happy to extend your return window.
      </p>
    </section>
    <div class="action-primary">


      <form id="return-extension" action="">

        <div id="return-extension-reason">
          <p class="instructional-note"> Why do you need this?</p>
          <label name="reason1">
            <input type="checkbox" name="reason1" value="vacation"> I've been out of town
          </label>
          <label name="reason2">
            <input type="checkbox" name="reason2" value="not-enough-time"> I need more time to review my items
          </label>
          <label name="reason3">
            <input type="checkbox" name="reason3" value="fix-arrived-late"> My fix arrived late
          </label>
          <label name="reason4">
            <input type="checkbox" name="reason4" value="family-emergency"> I had a family emergency
          </label>
          <label name="reason5">
            <input type="checkbox" name="reason5" value="other"> Other
          </label>
        </div>

        <div id="return-extension-duration" style="margin-top: 2em;">
          <p>
            <div id="default-duration">
              <a href="confirmation/" class="btn btn-lg btn-primary btn-block-dynamic" style="margin-bottom: 18px;">Extend to <br/>Thursday, July 21st</a>
              <span class="visible-xs-inline"><br></span><a id="more-needed" href="#">Need more time? &nbsp;»</a>
            </div>
            <div id="calendar-duration" style="display: none;">
              <a id="cal-initial" style="display:block;" href=""><img id="cal-initial-img" data-src="{{ site.baseurl }}img/cal-initial.png" alt="Calendar" style="display:block; width: 100%;" /></a>

              <a id="cal-new" href="" style="display:none;"><img id="cal-new-img" data-src="{{ site.baseurl }}img/cal-new-date.png" alt="Calendar" style="display:block; width: 100%;" /></a>
              <a id="submit-calendar-duration" href="confirmation-alt/" style="margin-top: 2em; margin-bottom: 18px;" class="btn btn-lg btn-primary btn-block-dynamic">Extend to <br/>Thursday, July 21st</a>
            </div>
          </p>
        </div>
      </form>

    </div>

    <div class="actions-secondary hidden">
      <p> You might want to </p>
      <ul>
        <li>
          <a href="#">
            Sign up for automatic Fixes&nbsp;»
          </a>
        </li>
        <li>
          <a href="#">
            Change your credit card info&nbsp;»
          </a>
        </li>
        <li id="gift-redeem">
          <a href="#">Redeem a gift code &nbsp;»
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>


{% include footer.html %}
