---
body_class:
status: logged-in
title: My Fix
skin: womens
active: my-fix
---

{% include header.html %}

<div class="page">

  <div class="side-margins" style="width: 100%; position: relative; display: block;">
    <div class="cta-primary">
      <section class="stateful-message">
        <p class="page-subheading">
          Thank you for checking out! We look forward to styling your next Fix.
        </p>
      </section>

      <div class="action-primary">


        <form id="return-extension" action="">

          <div id="return-extension-duration" class="text-center" style="margin-top: 1em;">
            <p>Please use the prepaid envelope to return your items by</p>
            <div class="date-lockup">
              <time datetime="2016-07-28">Thursday, July 21th</time>
            </div>
            <p><a href="../logged-in/" class="btn btn-lg btn-primary btn-block-dynamic" style="min-width: 300px;">Continue&nbsp;»</a></p>
            <p class="action-primary-alternate" style="margin-top:0px">
              <a href="../../extend/">Request an extension&nbsp;»</a>
            </p>
          </div>
        </form>

      </div>

      <div class="actions-secondary hidden">
        <p> You might want to </p>
        <ul>
          <li>
            <a href="#">
              Sign up for automatic Fixes&nbsp;»
            </a>
          </li>
          <li>
            <a href="#">
              Change your credit card info&nbsp;»
            </a>
          </li>
          <li id="gift-redeem">
            <a href="#">Redeem a gift code &nbsp;»
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


{% include footer.html %}
