---
body_class:
status: logged-in
title: My Fix
skin: womens
active: my-fix
---

{% include header.html %}
<img data-src="{{ site.baseurl }}img/checkout-home-.png" alt="Calendar" style="display:block; width: 100%; margin-top: 40px;" />

<div class="page" style="padding-top: 20px;">

<div class="side-margins" style="width: 100%; position: relative; display: block;">
  <div class="cta-primary">

    <div class="text-center">
      <div class="content-headline">
        <p style="margin-bottom: 0;">Ellen, your Fix has been delivered!</p>
        <div class="date-lockup">
          <div class="date-lockup--intro">Please check out by</div>
          <time datetime="2016-07-15">Thursday, July 15th</time>
        </div>
      </div>
      <a href="../checkout/" class="btn btn-lg btn-primary btn-block-dynamic" style="margin-bottom: 36px; min-width: 300px;">Begin Checkout</a>
      <p>Tell us about your Fix &ndash; the more feedback you give, the better your next Fix will be.</p>
      <p class="action-primary-alternate">
        <a href="../extend/">Request an extension&nbsp;»</a>
      </p>
      <p class="action-primary-alternate" style="padding-bottom: 36px;">
        <a href="https://www.fedex.com/fedextrack/?tracknumbers=20afe204a12f7d1dac412106">Track your USPS package&nbsp;»</a>
      </p>
    </div>

    <div class="actions-secondary hidden">
      <p> You might want to </p>
      <ul>
        <li>
          <a href="#">
            Sign up for automatic Fixes&nbsp;»
          </a>
        </li>
        <li>
          <a href="#">
            Change your credit card info&nbsp;»
          </a>
        </li>
        <li id="gift-redeem">
          <a href="#">Redeem a gift code &nbsp;»
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>

</div>

{% include footer.html %}
