---
body_class: 
status: logged-in
title: My Fix
skin: womens
active: my-fix
---

{% include header.html %}

<div class="page">

<div class="side-margins" style="width: 100%; position: relative; display: block;">
  <div class="cta-primary">
    <section class="stateful-message">
      <p class="page-subheading">
        Karen, your Fix has been delivered!
      </p>
    </section>
    <div class="action-primary">
      <p class="content-headline"><span class="ss-standard ss-cart"></span> Please checkout by Tuesday, July 5th</p>
      <p class="instructional-note"> We look forward to receiving your feedback!</p>
      <a href="../checkout/" class="btn btn-lg btn-primary btn-block-dynamic">Checkout <span style="font-size: 1.5em; line-height: 1;">&nbsp;»</span></a>
      <p class="action-primary-alternate">
        Didn't receive your Fix yet? <span class="visible-xs-inline"><br></span><a href="https://www.fedex.com/fedextrack/?tracknumbers=20afe204a12f7d1dac412106">Track your FEDEX package&nbsp;»</a>
      </p>
      <p class="action-primary-alternate">
        <a href="../extend/">Need more time? &nbsp;»</a>
      </p>
    </div>

    <div class="actions-secondary">
      <p> You might want to </p>
      <ul>
        <li>
          <a href="#">
            Sign up for automatic Fixes&nbsp;»
          </a>
        </li>
        <li>
          <a href="#">
            Change your credit card info&nbsp;»
          </a>
        </li>
        <li id="gift-redeem">
          <a href="#">Redeem a gift code &nbsp;»
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>


{% include footer.html %}

