footer {
  padding: 10px;
  position: relative;

  .bee {
    color: #f7f7f7;
    position: absolute;
    top: -5px;
    left: calc(50% - 10px);
    &:after {
    content: "";
    height: 10px;
    width: 10px;
    background: #fff; 
    display: block;
    transform:rotate(-45deg);
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    z-index: 1;
    }
  }

  &.opened {
    .below-the-footer-fold {
      display: block;
    }
  }
  
  .below-the-footer-fold {
    background: red;
    display: none;
  }

}

.footer-toggle {
  background: red;
  display: block;
}