fieldset {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid darken($brand_grey_light, 10%);
}

.form-group {
	border-top: 1px solid darken($brand_grey_light, 10%);
	display: block;
	&.focus,
	&:focus {
		background: #fff;
		outline: 0;
		input { }
	} 

	input,
	.dropdown {
		background: transparent;
		border: 0;
		padding: 5px 10px;
	}

	.btn-group {
		padding: 10px;
		@include clear;
	}

	label {
		margin-bottom: 0;

		&.control-label {
			padding: 5px 10px;
			text-transform: uppercase;
			font-size: 0.8rem;
			letter-spacing: 0.05rem;
			clear: both;
			padding-bottom: 0;
		}
	}

	label.btn-default {
		padding:  0;
		position: relative;
		border-color: darken($brand_grey_light, 10%);
		color: $brand_grey_dark;
		margin-bottom: 5px;
    display: block;
    float: left;
    width: 44px;
    line-height: 44px;
    text-align: center;
    margin-right: -1px;
    z-index: 1;
    &:last-child { border-right: 1px solid darken($brand_grey_light, 10%);}
		&:hover, 
		&:focus,
		&:active {
			cursor: pointer;
	   	background: $sf-hover;
			color: darken($brand_grey_dark, 20%);
    	z-index: 1;
			-webkit-tap-highlight-color: transparent;
		}

		&.active {
			background: $sf-selected;
			color: #fff;
    	box-shadow: 0;
    	border-color: $sf-selected;
    	z-index: 2;
    	&:hover,
    	&:focus,
    	&:active {		
				background: $sf-selected;
				-webkit-tap-highlight-color: transparent;
			}
		}

	 [type="radio"] {
		 	position: absolute;
		 	top: 0;
		 	left: -2000px;
		 	z-index: -1;
  	}
	}


	&.dropdown {

		padding: 0;

		select {
		  height: 42px;
		  padding: 10px;
		  border-radius: 0;
	    padding-right: 20px;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    background-image: url("/img/dropdown.svg");
	    background-size: 20px;
	    background-repeat: no-repeat;
	    background-position: 97% 13px;
	    -webkit-appearance: none;
	    margin: 0;
	    border: none;
	    box-shadow: none;
	    background-color: transparent;
	    width: 100%;
	    &:focus {
	    	outline: 0;
	    }
	  }

	  span { text-transform: capitalize;}
	}
}

.form__cta {
	padding: 10px;

}


.form__header {
	text-align: center;
	padding: 1rem;
}
