

header { 
  position:fixed;
  z-index:5;
  width: 100%;
  display: block;
  color: #374019;
  background: #fff;
  text-align: center;
  min-height: 44px;

  a { text-decoration: none !important; }
} 



nav {

  position: absolute;
  left: 0;
  right: 0;    
  top: 50px;
  background: #f0f0f0;
  display: none;
  z-index: 0;


  .secondary-nav {
    a { opacity: 0.5; }
  }

  @media screen and (min-width: 375px) {
    display: block;
    position: relative;
    top: 0; 
    background: transparent;
    li {
      display: inline-block;
    }

    .secondary-nav  {
      display: none;
      border-top: 2px solid #ccc;
      border-bottom: 2px solid #ccc;
      background: #f0f0f0;
    }

    a { padding: 0 10px;}
  }

  @media screen and (min-width: 1000px) {
    .secondary-nav {
      display: inline;
      background: transparent;
      border-top: 0;
      border-bottom: 0;
    }
  }

  ul, li { margin: 0; padding: 0; list-style: none; }



  a {
    display: inline-block;
    line-height: 44px;
    border: none;
    color: $sf-link;
    &:hover,
    &:focus { color: #000; background: #ebe8e8;  
    &:active { color: #000; background: #ebe8e8; }
    }

    &.sign-up {
      background: darken(#e4981b, 5%);
      color: #fff; 
      &:focus, 
        &:hover { background: #c70008; }
        &:active { background: #07b675; color: #fff;  }
      
    }

  }

  .active a { background-color: #dff86b; color: #000;
    &:hover, 
    &:focus { background-color: #eafaa1; 
      &:active { background-color: #fbfeee; }
    }
  }

}

.nav__style-tips {
  position: relative;

}

.men-or-women {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  a {
    display: block;
  }
}

#toggle,
#toggle-secondary {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  line-height: 49px;
  font-size: 22px;
  z-index: 6;
  background: #fff;
  border-bottom: 0;
  color: $sf-neutral; 
  display: inline-block;

  @media screen and (min-width: 375px) { display: none; }


  &:hover, 
  &:focus { 
      background-color: #fff; 
      color: darken($sf-neutral, 10%);
      }
      &:active,
      &.active { 
        background-color: $sf-neutral; 
        color: #fff; 
        i:after { content: "\ea0f"; }
      }
  i {
    &:after   { content: "\e9bd"; }
    }
  span { display: none; }
}

#toggle-secondary {
  @media screen and (max-width: 375px) { display: none; }
  @media screen and (min-width: 375px) { display: block; }
  @media screen and (min-width: 1000px) { display: none; }

}


header {

  .btn--cta { 
    position: absolute;
    top: 6px;
    right: 60px;
    z-index: 10;

  }

  .btn--cta-secondary {
    position: absolute;
    top: 6px;
    right: 210px;
    z-index: 10;
  }
}

.link--avatar {
  display: block;
  border: 0;
  width: 50px;
  padding: 10px;
  position: relative;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;

  a { display: block; }

}

.gender {
  position: absolute;
  top: 0px;
  line-height: 50px;
  left: 0;
  padding-left:  50px;
  z-index: 0;

}

.toggle-gender {
  position: absolute;
  top: 0px;
  line-height: 50px;
  left: 0;
  padding-left:  50px;
  z-index: 1;
}

.divet-link {
  position: absolute;
  left: 50px;
  top: 2px;
  font-size: 20px;
  width: 90px;
  text-align: right;
}

i.divet {
  position: relative;
  z-index: 1000;
  color: #ccc;
  &:after {
    content: "\e602";
  }
}

.toggleable-gender {
  position: absolute;
  top: 0;
  left: 50px;
  right: 0;
  display: none;
  width: 80px;

  a { 
    padding-left: 10px;
    background: #fff;
    display: block;
    text-align: left;
  }
}
