
.social {

  margin-bottom: 1rem;
  position: relative;
  text-align: center;

  li { display: inline-block; } 

  .icon {
    display: inline-block;
    padding: 11px;
    font-size: 20px;
    color: $sf-brown;
    border: 1px solid lighten($sf-neutral, 40%);
    &:hover, &:focus { background-color: $sf-neutral; border-color: $sf-neutral; color: #fff;  }
    
    &.twitter:after   { content: "\ea96"; }
    &.facebook:after  { content: "\ea90"; }
    &.instagram:after { content: "\ea92"; }
    &.pinterest:after { content: "\ead1"; }
    &.email:after { content: "\ea83"; }
    &.link:after { content: "\e9cb"; }
    span { display: none; }

  }
}

