
.social {

    margin-bottom: 1rem;

   li { display: inline-block; } 

  .icon {
    background-color: $sf-neutral;
    display: inline-block;
    color: #fff;
    padding: 6px;
    &:hover, &:focus { background-color: darken($sf-neutral, 20%);  }
    
    &.twitter:after   { content: "\ea96"; }
    &.facebook:after  { content: "\ea90"; }
    &.instagram:after { content: "\ea92"; }
    &.pinterest:after { content: "\ead1"; }
    &.email:after { content: "\ea83"; }
    &.link:after { content: "\e9cb"; }
    span { display: none; }

  }
}

