
.social {

  margin-bottom: 1rem;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #ccc; 
  padding-bottom: 1rem;

  li { display: inline-block; } 

  .icon {
    display: inline-block;
    padding: 11px;
    font-size: 20px;
    color: $sf-brown;
    border: 1px solid lighten($sf-brown, 40%);
    &:hover, &:focus { background-color: $sf-brown; border-color: $sf-brown; color: #fff;  }
    
    &.twitter:after   { content: "\ea96"; }
    &.facebook:after  { content: "\ea90"; }
    &.instagram:after { content: "\ea92"; }
    &.pinterest:after { content: "\ead1"; }
    &.email:after { content: "\ea83"; }
    &.link:after { content: "\e9cb"; }
    span { display: none; }

  }

  .social-close {

    border-color: transparent;
    padding: 20px;
    font-size: 10px;

    &:hover, &:focus {
      background-color: transparent;
      color: darken($sf-brown, 20%);
      border-color: transparent;
    }

  }
}

