---
body_class: mens marketing-page
title: Mens
active: mens
status: logged-out
skin: mens
---

{% include header.html %}

<div class="page">

<div class="splash">
	<a href="#get-started" class="get-started">
	  <img data-src="{{ site.baseurl }}/img/mens.jpg" alt="Mens" />
	</a>
</div>

{% include how-it-works.html %}

<!-- 
<h5 class="wireframe" id="how-it-works">

TBD: targetted marketing messages 

</h5>

<h5 class="wireframe">
TBD: service description
</h5>
 -->

<div id="get-started-form">

	{% include get-started.html %}

</div>

</div>

{% include footer.html %}

