---
body_class: mens
status: logged-in
title: Prototype
active: 
skin: womens
---

{% include header.html %}

<div class="page">

<img src="/img/mens-loggedin.jpg" />

<center>targetted marketing messages <center>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div id="get-started-form" class="refer-form">

	<h2>Refer a friend to Stitch Fix at get $25</h2>

	<p>Marketing messages Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nunc eget orci semper, id scelerisque magna rutrum. </p>


	<input value="somebody's email" style="float: left; width: 70%;" >
	<a href="#" class="btn" style="width: 27%">Refer</a>

	<br />
	<br />
	<br />
	<br />

	<h3>Share to get $25</h3>

	<div class="social">

	<i class="icon facebook"><span>Facebook</span></i>
	<i class="icon twitter"><span>Twitter</span></i>
	<i class="icon"><span>Email</span></i>
	<i class="icon"><span>Copy link</span></i>

	</div>

	<br />
	<br />

	<a href="#" class="btn">Buy a gift card</a>
	<br />
	<br />

	<a href="/mens/#get-started-form">Sign out & sign up for a Mens account</a>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>

</div>

{% include footer.html %}

