---
body_class: marketing-page
status: logged-in
title: Refer a friend!
active: 
skin: womens
---

{% include header.html %}

<div class="page mens">

<div class="splash">
	<a href="#get-started" class="get-started">
	  <img data-src="/img/mens-lio.jpg" alt="Mens" />
	</a>
</div>


<h5 class="wireframe">

TBD: targetted marketing messages 

</h5>

<h5 class="wireframe">
TBD: service description
</h5>

<div id="get-started-form" class="refer-form">

	<h2>Refer a friend to Stitch Fix <br />and get $25</h2>

	<p>Marketing messages Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nunc eget orci semper, id scelerisque magna rutrum. </p>


	<input value="somebody's email" style="float: left; width: 70%;" >
	<a href="#" class="btn btn--cta" style="width: 27%">Refer</a>

	<br />
	<br />
	<br />
	<br />

	<h5>Share your referral link<br />and get $25</h5>

	<div class="social">

	<i class="icon facebook"><span>Facebook</span></i>
	<i class="icon twitter"><span>Twitter</span></i>
	<i class="icon email"><span>Email</span></i>
	<i class="icon link"><span>Copy link</span></i>

	</div>

	<br />
	<br />

	<p><a href="/mens/#get-started-form" class="btn">Sign up for a Mens account</a><br />
		<div class="form-group">We'll have to sign you out of your account</div>
	</p>

	<br />
	<br />

	<p><a href="#" class="btn">Buy a gift card</a></p>

<div>

</div>

{% include footer.html %}

