---
body_class:
status: logged-in
title: My Fix
skin: womens
active: my-fix
---

{% include header.html %}

<div class="page">

  <div class="side-margins" style="width: 100%; position: relative; display: block;">
    <div class="cta-primary">
      <section class="stateful-message">
        <p class="page-subheading">
          We&rsquo;ve extended your return date!
        </p>
        <p>
          We&rsquo;re always happy to help and we look forward to styling your next Fix.
        </p>
      </section>

      <div class="action-primary">


        <form id="return-extension" action="">

          <div id="return-extension-duration">
            <div id="default-duration" class="text-center">

              <div class="date-lockup">
                <div class="date-lockup--intro">Your new return date is </div>
                <time datetime="2016-07-21">Thursday, July 21st</time>
              </div>
              <p><a href="../logged-in/" class="btn btn-lg btn-primary btn-block-dynamic" style="">Continue&nbsp;»</a></p>              
              <p><span class="visible-xs-inline"><br></span><a id="more-needed" href="#">Get a text reminder&nbsp;»</a></p>              
              <p><a id="more-needed" href="#">Adjust the date again&nbsp;»</a></p>
            </div>
            <div id="calendar-duration" style="display: none;">
              <a id="cal-initial" style="display:block;" href=""><img id="cal-initial-img" data-src="{{ site.baseurl }}img/cal-initial.png" alt="Calendar" style="display:block; width: 100%;" /></a>

              <a id="cal-new" href="" style="display:none;"><img id="cal-new-img" data-src="{{ site.baseurl }}img/cal-new-date.png" alt="Calendar" style="display:block; width: 100%;" /></a>
              <a id="submit-calendar-duration" href="./" style="margin-top: 2em;" class="btn btn-lg btn-primary btn-block-dynamic">Extend to Thursday, July 21st</a>
            </div>
          </div>
        </form>

      </div>

      <div class="actions-secondary hidden">
        <p> You might want to </p>
        <ul>
          <li>
            <a href="#">
              Sign up for automatic Fixes&nbsp;»
            </a>
          </li>
          <li>
            <a href="#">
              Change your credit card info&nbsp;»
            </a>
          </li>
          <li id="gift-redeem">
            <a href="#">Redeem a gift code &nbsp;»
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


{% include footer.html %}
